body {
    background-color:black;
    font-family: arial;
    color:white
}

h1 {
    color:grey;
    font-family:verdana;
    text-align: center;
}


.maindiv {
    background-color:white;
    color:black;
    width: 480px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
}

.innerdiv {
    padding-right: 20%;
    padding-left: 20%;
}

.highlighted{
    background-color: #FFFF00;
}